	<div  class="list">
		<div class="add">
			<a href="" ng-click="addTodo()">+ Add a new Task</a>
		</div>
		<div class="item" 
			ng-repeat="todo in todos | orderBy:'completed'"
			ng-class="{'editing-item':editing, 'edited':todo.edited, 'completed':todo.completed}"
			ng-init="todo.completed = false">
			<input type="checkbox" ng-model="todo.completed" /> 
			<span ng-click="todo.completed = !todo.completed; todo.edited=true"></span>
			<label
				ng-hide="editing" 
				ng-click="editing=true;">{{todo.name}}</label> 
			<input
				ng-show="editing" class="editing-label"
				ng-change="todo.edited=true" type="text" ng-model="todo.name"
				ng-blur="editing=false;" />

			<div class="actions">
				<!--  a href="" ng-click="editing=!editing">Edit</a--> 
				<a href="" ng-click="saveTodos(todo)">Save</a> 
				<a href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
			</div>
		</div>
		{{todos}}

	</div>